 .products{
    /* background-image: var(--first-gradient); */
    padding-top: 3rem;

} 

.product_list{
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-bottom: 60px;
 
}

.product_list-item{
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    position: relative;
    transition: all 0.3s var(--transition) ;
}

.product_list-item::before{
    content:'';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.3s var(--transition);
}

.active-work{
    color: var(--primary-color)
}
.active-work::before,
.product_list-item:hover::before{
    width: 40px;
}
.product_container{
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.product_img-wrapper{
    border-radius: 18px;
    overflow: hidden;
}
.product_img{
    height: 240px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.6s var(--transition);
    border-radius: 18px;
}

.product_items:hover .product_img{
    transform: scale(1.04);
}
.product_category{
    color: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.product_category,
.product_description{
    margin-top:30px;
}
.product_title{
    font-size: var(--h4-font-size);
}
.product_description{
    min-height: 125px;
}
.description{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width:876px) {
    .product_container{
        grid-template-columns:repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width:576px) {
    .product_container{
        grid-template-columns:repeat(1, 1fr);
        gap: 40px;
    }
}
