.nav-link a{
    color: var(--title-color) ;
    font-size: 20px;
}

.nav-link a.active{
    color: var(--text-color) ;
    font-size: 20px;
    border-bottom:2px solid ;
    transition: all .2s ease-in;
}

.nav-item a{
    color: var(--title-color);
    font-size: 20px;
}
.nav-item a.active{
    color: var(--text-color) ;
    font-size: 20px;
    border-bottom:2px solid ;
    transition: all .2s ease-in;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    background: #EEFFFB;
    border-radius: 5px;
}